body {
  padding-top: 60px;
  padding-bottom: 40px;
}
.pannel {
  margin: 15px 0px 15px 0px;
  padding: 10px 10px 10px 10px;
  box-shadow: 10px 10px 15px 5px grey;
  border-style: 2px solid black;
  border-radius: 5px;
}
.user-pannel {
}
.user-pannel h3 {
  text-align: center;
}
.room-pannel {
}
.chat-pannel {
}
.test-pannel {
  background-color: yellow;
  height: 300px;
}
