body {
  padding-top: 60px;
  padding-bottom: 40px;
}
.pannel {
  margin: 15px 0px 15px 0px;
  padding: 10px 10px 10px 10px;
  box-shadow: 10px 10px 15px 5px grey;
  border-style: 2px solid black;
  border-radius: 5px;
}
.user-pannel {
}
.user-pannel h3 {
  text-align: center;
}
.room-pannel {
}
.chat-pannel {
}
.test-pannel {
  background-color: yellow;
  height: 300px;
}
.show-grid {
  margin-top: 10px;
  margin-bottom: 20px;
}
.show-grid [class*="span"] {
  background-color: #eee;
  text-align: center;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
  min-height: 30px;
  line-height: 30px;
}
.show-grid:hover [class*="span"] {
  background: #ddd;
}
.messages {
  background-color: #e5e5e5;
  height: 300px;
  overflow: auto;
  margin: 5px 5px 5px 5px;
  border-style: 5px solid black;
}
