.hero-unit {
  background-color: #FFFFFF;
  background-image: url("/img/Chess.jpg");
  background-position: 50% top;
  background-repeat: no-repeat;
  color: #FFFFFF;
  height: 600px;
  overflow: hidden;
  text-align: center;
}
.hero-unit [class*="row"] {
  padding-top: 25px;
}
.alert {
  padding: 3px 3px 3px 3px;
  font-size: 12pt;
}
.dropdown-menu li {
  text-align: left;
}
.signin-form {
  max-width: 280px;
  margin: 0 auto;
}
.pannel {
  margin: 15px 0px 15px 0px;
  padding: 10px 10px 10px 10px;
  box-shadow: 10px 10px 15px 5px grey;
  border-style: 2px solid black;
  border-radius: 5px;
}
.user-pannel {
}
.user-pannel h3 {
  text-align: center;
}
.room-pannel {
}
.chat-pannel {
}
.show-grid {
  margin-top: 10px;
  margin-bottom: 20px;
}
.show-grid [class*="span"] {
  background-color: #eee;
  text-align: center;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
  min-height: 30px;
  line-height: 30px;
}
.show-grid:hover [class*="span"] {
  background: #ddd;
}
.messages {
  background-color: #e5e5e5;
  height: 300px;
  overflow: auto;
  margin: 5px 5px 5px 5px;
  border-style: 5px solid black;
}
